openapi: 3.2.0
info:
  title: CodeProject REST Articles API
  description: CodeProject's REST API at api.codeproject.com provides read access to articles, forum messages, questions, and authenticated user profile data from the codeproject.com developer community. Authentication uses OAuth 2.0 Bearer Tokens via Client Credentials, Authorization Code, or Implicit Grant flows. The "My" API set requires the Authorization Code or Implicit Grant flows because it accesses the signed-in user's resources, while the Articles, ForumMessages, and Questions endpoints can be accessed with a Client Credentials token. Tokens are sent in the Authorization header.
  version: 1.0-beta
  contact:
    name: CodeProject API Support
    url: https://api.codeproject.com/Help
servers:
- url: https://api.codeproject.com
  description: CodeProject Resource Server
security:
- oauth2:
  - read
tags:
- name: Articles
  description: Articles, technical blogs, and tips and tricks (rating >= 3.0).
paths:
  /v1/Articles:
    get:
      operationId: listArticles
      summary: List the latest articles
      description: Retrieve the latest articles, technical blogs, and tips & tricks (rating >= 3.0), ordered by modified date.
      tags:
      - Articles
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
      - name: minRating
        in: query
        schema:
          type: number
          format: float
      responses:
        '200':
          description: Article list
  /v1/Articles/{id}:
    get:
      operationId: getArticle
      summary: Get a single article
      tags:
      - Articles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Article detail
        '404':
          description: Not found
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Bearer Tokens are issued by the CodeProject identity server. Use Client Credentials Grant for read access to public resources and Authorization Code Grant or Implicit Grant for the My API.
      flows:
        clientCredentials:
          tokenUrl: https://api.codeproject.com/Token
          scopes:
            read: Read access to public resources
        authorizationCode:
          authorizationUrl: https://api.codeproject.com/Authorize
          tokenUrl: https://api.codeproject.com/Token
          scopes:
            read: Read access to public and user-owned resources
        implicit:
          authorizationUrl: https://api.codeproject.com/Authorize
          scopes:
            read: Read access to public and user-owned resources
externalDocs:
  description: CodeProject API Help
  url: https://api.codeproject.com/Help
