openapi: 3.2.0
info:
  title: CodeProject REST Questions API
  description: CodeProject's REST API at api.codeproject.com provides read access to articles, forum messages, questions, and authenticated user profile data from the codeproject.com developer community.
  version: 1.0-beta
  contact:
    name: CodeProject API Support
    url: https://api.codeproject.com/Help
servers:
- url: https://api.codeproject.com
  description: CodeProject Resource Server
security:
- oauth2:
  - read
tags:
- name: Questions
  description: Q&A questions (new, active, unanswered).
paths:
  /v1/Questions:
    get:
      operationId: listQuestions
      summary: List Q&A questions
      tags:
      - Questions
      parameters:
      - name: filter
        in: query
        description: Filter set - new, active, unanswered.
        schema:
          type: string
          enum:
          - new
          - active
          - unanswered
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: Question list
  /v1/Questions/{id}:
    get:
      operationId: getQuestion
      summary: Get a question and its answers
      tags:
      - Questions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Question detail
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Bearer Tokens are issued by the CodeProject identity server. Use Client Credentials Grant for read access to public resources and Authorization Code Grant or Implicit Grant for the My API.
      flows:
        clientCredentials:
          tokenUrl: https://api.codeproject.com/Token
          scopes:
            read: Read access to public resources
        authorizationCode:
          authorizationUrl: https://api.codeproject.com/Authorize
          tokenUrl: https://api.codeproject.com/Token
          scopes:
            read: Read access to public and user-owned resources
        implicit:
          authorizationUrl: https://api.codeproject.com/Authorize
          scopes:
            read: Read access to public and user-owned resources
externalDocs:
  description: CodeProject API Help
  url: https://api.codeproject.com/Help
