openapi: 3.2.0
info:
  title: CodeProject REST My API
  description: CodeProject's REST API at api.codeproject.com provides read access to articles, forum messages, questions, and authenticated user profile data from the codeproject.com developer community.
  version: 1.0-beta
  contact:
    name: CodeProject API Support
    url: https://api.codeproject.com/Help
servers:
- url: https://api.codeproject.com
  description: CodeProject Resource Server
security:
- oauth2:
  - read
tags:
- name: My
  description: Authenticated user resources (answers, articles, blogs, bookmarks, notifications, profile, reputation, tips).
paths:
  /v1/My/Profile:
    get:
      operationId: getMyProfile
      summary: Get the authenticated user's profile
      tags:
      - My
      security:
      - oauth2:
        - read
      responses:
        '200':
          description: Profile
        '401':
          description: Unauthorized
  /v1/My/Reputation:
    get:
      operationId: getMyReputation
      summary: Get the authenticated user's reputation
      tags:
      - My
      security:
      - oauth2:
        - read
      responses:
        '200':
          description: Reputation
        '401':
          description: Unauthorized
  /v1/My/Articles:
    get:
      operationId: listMyArticles
      summary: List the authenticated user's articles
      tags:
      - My
      security:
      - oauth2:
        - read
      responses:
        '200':
          description: Articles
        '401':
          description: Unauthorized
  /v1/My/Answers:
    get:
      operationId: listMyAnswers
      summary: List the authenticated user's answers
      tags:
      - My
      security:
      - oauth2:
        - read
      responses:
        '200':
          description: Answers
        '401':
          description: Unauthorized
  /v1/My/Blog:
    get:
      operationId: listMyBlogPosts
      summary: List the authenticated user's blog posts
      tags:
      - My
      security:
      - oauth2:
        - read
      responses:
        '200':
          description: Blog posts
        '401':
          description: Unauthorized
  /v1/My/Bookmarks:
    get:
      operationId: listMyBookmarks
      summary: List the authenticated user's bookmarks
      tags:
      - My
      security:
      - oauth2:
        - read
      responses:
        '200':
          description: Bookmarks
        '401':
          description: Unauthorized
  /v1/My/Notifications:
    get:
      operationId: listMyNotifications
      summary: List the authenticated user's notifications
      tags:
      - My
      security:
      - oauth2:
        - read
      responses:
        '200':
          description: Notifications
        '401':
          description: Unauthorized
  /v1/My/Tips:
    get:
      operationId: listMyTips
      summary: List the authenticated user's tips
      tags:
      - My
      security:
      - oauth2:
        - read
      responses:
        '200':
          description: Tips
        '401':
          description: Unauthorized
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Bearer Tokens are issued by the CodeProject identity server. Use Client Credentials Grant for read access to public resources and Authorization Code Grant or Implicit Grant for the My API.
      flows:
        clientCredentials:
          tokenUrl: https://api.codeproject.com/Token
          scopes:
            read: Read access to public resources
        authorizationCode:
          authorizationUrl: https://api.codeproject.com/Authorize
          tokenUrl: https://api.codeproject.com/Token
          scopes:
            read: Read access to public and user-owned resources
        implicit:
          authorizationUrl: https://api.codeproject.com/Authorize
          scopes:
            read: Read access to public and user-owned resources
externalDocs:
  description: CodeProject API Help
  url: https://api.codeproject.com/Help
